/* remember to change everything to rem */

/* Universal Styles */
html {
  font-family: arial;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.9rem;
  font-weight: bold;
}

h3 {
  font-size: 1.2rem;
  font-weight: bold;
}


p {
  font-size: 0.8rem;
  line-height: 1.2rem;
}




/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  width: 100%;
  background-color: white;
  z-index: 1;
  position: fixed;
}


/* Header logo */
.logo img {
  height: 32px;
}

.logo a {
  display: flex;
  align-items: center;
  margin-left: 24px;
  color: grey;
}

.logo .bold {
  font-weight: bold;
  color: black
}


/* Header Navigation */
.desktop nav {
  display: flex;
  padding-right: 24px;
}

nav ul {
  display: flex;
}

nav li {
  padding-right: 16px;
}



/* Header for Mobile */
.mobile ul {
  display: flex;
  justify-content: space-between; /* can't get these icons to space-between */
}



/* Hide mobile nav on screens greater than 600px */
@media only screen and (min-width: 600px) {
  .mobile {
    display: none;
  }
}


/* Hide desktop nav on screens less than 600px */
@media only screen and (max-width: 600px) {
  .desktop {
    display: none;
  }
}





/* Main Section */

.main {
  padding-top: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
}

.main img {
  width: 60%;
  padding: 32px 24px;
}

.container-main {
  padding-right: 60px;
}

.container-main h3 {
  padding: 24px 0px;
}

.button {
  background-color: #333333;
  color: white;
  text-align: center;
}

.button p {
  padding: 8px;
}


/* Main Section for Mobile */

@media only screen and (max-width: 700px){
  .main {
    flex-direction: column;
    align-items: center;
  }
  .main img {
    width:100%;
    padding: 0px;
  }
  .container-main {
  padding: 32px 16px;
  width: 90%;  /* Need to specify padding width here not width percentage */
  }
}





/* Academy Main Section */
.academy {
  display: flex;
}

.container-academy-main img {
  width: 100%; /* Is this the best way to acheive image in container? */
}

.container-academy-main {
  max-width: 60%; /*changed to max-width to fix alignment issue */
  padding: 32px 24px;
}


.container-academy-main h2 {
  padding: 32px 0 24px 0;
}




/* Academy Events Column */

.container-academy-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px 0 0 0;
}

.event {
  display: flex;
  align-items: center;
  border: 1px solid lightgrey;
  background: white; /* Note: change to grey on rollover */
}



.event img {
  width: 100%; /*again this line doesn't seem right */
}

.event-image-container {
  width: 35%;
  padding: 16px;
}

.event-text {
  padding: 15px;
  width: 65%;
}

.event-text p {
  padding: 8px 0;
}

.event-text a {
  font-size: 0.8rem;
  color: blue;
}



/*Display for mobile */
@media only screen and (max-width: 700px) {
  .container-academy-main {
    display: none;
  }

  .img-desktop {
    display: none;
  }

  .event{
    flex-direction: column;
    border: 0;
  }
}


/*Display for desktop */
@media only screen and (min-width: 700px) {
  .img-mobile {
    display: none;
  }
