/* GENERAL NOTES & TO DO LIST */
/*
- Reformat to rem
- Mobile header icons not spaced correctly
- Review all image width: 100% - Not sure this is right
- Guest lecture event box has scaling issues
- Video won't go full width on mobile version
- Refactor code to re-use elements
*/



/* Universal Styles */
html {
  font-family: arial;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.9rem;
  font-weight: bold;
}

h3 {
  font-size: 1.2rem;
  font-weight: bold;
}

h4 {
  font-size: 1.0rem;
  font-weight: bold;
}

p {
  font-size: 0.8rem;
  line-height: 1.2rem;
}




/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  width: 100%;
  background-color: white;
  z-index: 1;
  position: fixed;
}


/* Header logo */
.logo img {
  height: 32px;
}

.logo a {
  display: flex;
  align-items: center;
  margin-left: 24px;
  color: grey;
}

.logo .bold {
  font-weight: bold;
  color: black
}


/* Header Navigation */
.desktop nav {
  display: flex;
  padding-right: 24px;
}

nav ul {
  display: flex;
}

nav li {
  padding-right: 16px;
}



/* Header for Mobile */
.mobile ul {
  display: flex;
  justify-content: space-between;
}



/* Hide mobile nav on screens greater than 600px */
@media only screen and (min-width: 600px) {
  .mobile {
    display: none;
  }
}


/* Hide desktop nav on screens less than 600px */
@media only screen and (max-width: 600px) {
  .desktop {
    display: none;
  }
}





/* Main Section */

.main {
  padding-top: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
}

.main img {
  width: 60%;
  padding: 32px 24px;
}

.container-main {
  padding-right: 60px;
}

.container-main h3 {
  padding: 24px 0px;
}

.button {
  background-color: #333333;
  color: white;
  text-align: center;
}

.button p {
  padding: 8px;
}


/* Main Section for Mobile */

@media only screen and (max-width: 600px){
  .main {
    flex-direction: column;
    align-items: center;
  }
  .main img {
    width:100%;
    padding: 0px;
  }
  .container-main {
  padding: 32px 16px;
  width: 90%;
  }
}





/* Academy Main Section */
.academy {
  display: flex;
}

.container-academy-main img {
  width: 100%;
}

.container-academy-main {
  max-width: 60%;
  padding: 32px 24px;
}


.container-academy-main h2 {
  padding: 32px 0 24px 0;
}




/* Academy Events Column */

.container-academy-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px 0 0 0;
}

.event {
  display: flex;
  align-items: center;
  border: 1px solid lightgrey;
}

.event:hover {
  background-color: lightgrey
}


.event img {
  width: 100%;
}

.event-image-container {
  width: 35%;
  padding: 16px;
}

.event-text {
  padding: 15px;
  width: 65%;
}

.event-text p {
  padding: 8px 0;
}

.event-text a {
  font-size: 0.8rem;
  color: blue;
}



/*Display for mobile */
@media only screen and (max-width: 600px) {
  .container-academy-main {
    display: none;
  }

  .img-desktop {
    display: none;
  }

  .event{
    flex-direction: column;
    border: 0;
  }
}


/*Display for desktop */
@media only screen and (min-width: 600px) {
  .img-mobile {
    display: none;
  }
}








/* Courses Section */

.courses {
  background-color: lightgrey;
}

.courses h2 {
  padding: 32px;
  text-align: center;
}

.course-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 32px 72px;

}

.course {
  background-color: white;
  margin: 32px;
}


.course-image {
  height: auto;
}


.course-text {
  padding: 16px;
}




/* Hide things on mobile version */
@media only screen and (max-width: 600px) {
  .courses {
    background-color: white;
    border-top: solid lightgrey 1px;
    border-bottom: solid lightgrey 1px;
  }

  .course-grid {
    display: inline;
  }

  .course-image {
    display: none;
  }

  .course-text p {
    display: none;
    color: red;
  }

  .course-text {
    background-color: lightgrey;
  }
}






/* Thesis Section */
.thesis {
  display: flex;
}

video {
  width: 100%;
}

.container-thesis-main {
  max-width: 60%;
  padding: 32px 24px;
}


.container-thesis-main h4 {
  padding: 32px 0 24px 0;
}




/* Thesis Column */

.container-thesis-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px 0 0 0;
}


/* Hide thesis column on mobile */
@media only screen and (max-width: 600px) {
  .container-thesis-col {
    display: none;
  }
  .container-thesis-main h2 , .container-thesis-main p {
    display: none;
  }
  video {
    width: 100%;
    margin: auto;
  }
}





/* Footer Section */
footer {
  display: flex;
  justify-content: space-between;
  border-top: solid grey 1px;
  padding: 16px 24px;
  font-size: 10px;
}

@media only screen and (max-width: 600px) {
  footer .footer-links {
    display: none;
  }
}
